################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CapstoneEnv/.vs/CapstoneEnv
/CapstoneEnv/Intermediate
/CapstoneEnv/CapstoneEnv.sln
/CapstoneEnv/Saved
/CapstoneEnv/Binaries
